.game_title {
  color: white;
  font-size: 24px;
  text-align: center;
}

.menu_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.info_text {
  color: white;
  font-size: 16px;
  text-align: center;
}

.join_match_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 24px;
}
