.match_container {
  background-image: url('./../../assets/game-background.webp');
  width: 90vw; /* 80% of the viewport width */
  height: 90vh; /* 80% of the viewport height */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: contain; /* Ensure the image scales properly */
  background-repeat: no-repeat; /* Prevent tiling */
  background-position: center;
}
