.game_title {
  color: aquamarine;
  font-size: 24px;
  text-align: center;
}

.match_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.info_text {
  color: white;
  font-size: 16px;
  text-align: center;
}

.join_match_button {
  width: 100px;
  height: 20px;
}
